# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.env
.env.local
hooks/env.php
db-config.php
# Environment variables
.env
.env.local
.env.development
.env.production

credentials.php
node_modules/
# dist/
node_modules
# dist
# dist-ssr
*.local
.env.production
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
