# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env
.env.local
.env.development
.env.production

credentials.php
node_modules/
node_modules

# Dependencies
node_modules
.pnp
.pnp.js

# Build artifacts
# dist
build
dist-ssr
*.local

# Testing
coverage

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables and secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
secrets.php
public/api/logs/

# Local PHP server files
.php_tmp/
.vscode/*
.vscode/
*.env